<aside class="side-nav">
    <nav>
        <ul>
            <li><a href="/iss" class="{{ 'active' if request.path == '/iss' }}">ISS Tracker</a></li>
            <li><a href="/launches" class="{{ 'active' if request.path == '/launches' }}">Launches</a></li>
            <li><a href="/asteroids" class="{{ 'active' if request.path == '/asteroids' }}">Asteroids</a></li>
            <li><a href="/aurora" class="{{ 'active' if request.path == '/aurora' }}">Aurora Watch</a></li>
        </ul>
    </nav>
</aside>
